#drawing {
    position: relative;
}

#my-canvas {
    position: absolute;
    top: 0.5px;
    left: 0.5px;
    width: 512px;
    height: 512px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#grid {
    position: absolute;
    width: 513px;
    height: 513px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}