#my-canvas {
    position: absolute;
    width: 513px;
    height: 513px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#coor {
    position: absolute;
    width: 513px;
    height: 513px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#grid {
    position: absolute;
    color: rgb(0, 0, 0);
    border: 10px black;
    width: 513px;
    height: 513px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}